<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div class="content-row">
    @if (data.icon) {
      <mat-icon class="dialog-icon">{{ data.icon }}</mat-icon>
    }
    <p>{{ data.message }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">
    {{ data.cancelText || "Cancelar" }}
  </button>
  <button
    mat-flat-button
    [color]="data.confirmColor || 'warn'"
    (click)="close(true)"
  >
    {{ data.confirmText || "Confirmar" }}
  </button>
</mat-dialog-actions>
